body {
    background-color: #60A9BA;
}

#introdesc {
    max-width: 920px;
    padding: 20px;
    border-radius: 10;
    margin: auto;
    font-size: 30px;
    margin-top: 200px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.ccc {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: black;
    margin-bottom: 30px;
}

#product_type_links {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 30px;
    
}

.buttonlabel {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    color: rgb(255, 255, 255);
    
}

.iconlink {
    padding: 12px 20px;
    border: 2px solid #ccc;
    border-radius: 12px;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 150px;
    height: 150px;
    background-color: rgb(207, 137, 7); 
}

.iconlink:hover {
    border-color: #888;
}